/*igual para todos daqui*/
* {
    margin: 0;
    padding: 0;
   /* background-color: rgb(241, 234, 237);*/
    font-family: sans-serif; /*fonte usada*/
 }

 .logo h1 {
    
    font-size: 3rem;/*tamanho da fonte*/
    text-align: left; /*posição do texto*/
    font-weight: 400;
    color: rgb(51, 12, 27);
    background-color: #f9f7f7;
 }
 
 .logo h6 {
    font-family: sans-serif; /*fonte usada*/
    font-size: 1rem;/*tamanho da fonte*/
    text-align: left; /*posição do texto*/
    font-weight: 800;
    color: rgb(174, 20, 128);
    background-color: #f9f7f7;
    height: 2rem;
 }
 
 .logo img {
    height: 1.5rem;
    background-color: #ccc;
 }
 
  
 .button-menu button {
     padding: 0 5rem;
     border-radius: 1rem; /*deixar a bordar redonda*/
     border: none; /*remover a linha da borda*/
  }
 
  /*para o botao ficar grande*/
 [data-anchor="product"] {
     background-color: rgb(231, 145, 191);
     color: black;
     font-weight: 900;
     font-size: 1.5rem;
     border: none; /*remover a linha da borda*/
     padding: 0.2rem 1rem;
     cursor: pointer; /*mudar o cursor ao passar no botao*/
     margin: auto;
     width: 80%;
     text-align: center;
     text-decoration: none; /*tirar linha de baixo do link*/
     border-radius: 1rem; /*deixar a bordar redonda*/
     padding: 0 2rem;
     transition: .2s ease-in-out;
 
     display: block;
 
 }
 [data-anchor="product"]:hover {
     background-color: rgb(220, 14, 141);
     color: #fff;
     transform: scale(1.2);
     padding: 0 2rem;
     border: none; /*remover a linha da borda*/
     border-radius: 1rem; /*deixar a bordar redonda*/
 }
 
 
  .button-menu {
     text-align: center;
     height: 2rem;
     margin-top: 0.5rem;
  }
 
  
 
  /*PRECISA RESOLVER O PROBLEMA DO BOTÃO MENU !! */

  .title {
    margin-top: 0.8rem;
    margin-left: 2rem;
    margin-bottom: 0.8rem;
    font-size: 1.5rem;/*tamanho da fonte*/
    text-align: center; /*posição do texto*/
    font-weight: 400;
    color: black;
 }

 .p {
    margin: 1rem;
    text-align: left;
    font-size: 1.5rem;

 }



 /*desing dos botoes rede*/
  .button-menu-rede {
    text-align: justify;
    height: 3rem;
    margin-top: 0.5rem;
 }


  .button-menu-rede button {
    padding: 0 1rem;
    border-radius: 1rem; /*deixar a bordar redonda*/
    border: none; /*remover a linha da borda*/
 }

 /*para o botao ficar grande*/
[data-anchor="product-rede"] {
    background-color: rgb(231, 145, 191);
    color: black;
    font-weight: 900;
    font-size: 1rem;
    border: none; /*remover a linha da borda*/
    padding: 0.2rem 1rem;
    cursor: pointer; /*mudar o cursor ao passar no botao*/
    margin: auto;
    width: 40%;
    text-align: left;
    text-decoration: none; /*tirar linha de baixo do link*/
    border-radius: 1rem; /*deixar a bordar redonda*/
    padding: 0 2rem;
    transition: .2s ease-in-out;
    display: block;

}
[data-anchor="product-rede"]:hover {
    background-color: rgb(220, 14, 141);
    color: #fff;
    transform: scale(1.2);
    padding: 10 1rem;
    border: none; /*remover a linha da borda*/
    border-radius: 1rem; /*deixar a bordar redonda*/
}


/*duvidas frequentes0*/

.faq-container {
    margin-left: 2rem;
    margin: 0 auto;
    padding: 20px;

}

.faq-item {
    margin-bottom: 0.5rem;

}

.question {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}


.answer {
    margin-left: 4rem;
}

.answer p {
    margin: 0;
    color: #ef055e;
    
}

.faq-item.active .answer {
    display: block;
}

.button-menu-rede img {
    height: 1.5rem;
    padding: 1 0;
    margin-right: 2rem;
    margin-left: 2rem;


}

