/* GPS LOCIAS VISITADOS */ 

.container {

    padding: 10px -10px;

}



.timeline::before {

    content: "";

    position: absolute;

    height: 100%;

    width: 2px;

    left: 50%;

    background-color: violet ;


}


.timeline{

    position: relative;

    margin: 0 0 0 -100px;

    width: 60%;

}



.timeline ul li {

    display: flex;

    flex-direction: row;

    align-items: center;

    margin-bottom: 1px;

    list-style-type: none;


}

.timeline ul li .content {

    width: 50%;

    padding: 0 20px;

}


.timeline ul li .date {

    width: 40%;

    padding: 0 20px;

    font-weight: normal;

}


.timeline ul li:nth-child(even) {

    flex-direction: row-reverse;

}


.timeline ul li:nth-child(even) .date h4 {

    float: right;

}


.timeline ul li .content h3 {

    padding: 10px 20px;

    margin-bottom: 10px;

    text-align: center;

    border-top-left-radius: 0;

    border-top-right-radius: 10px;

}


.timeline ul li .content p {

    padding: 10px 20px;

    

    margin-top: 15px;

    text-align: center;

    border-bottom-left-radius: 100px;

    border-bottom-right-radius: 100px;


}


.timeline ul li .date h4 {

    background-color: #c2addd;

    width: 80px;

    text-align: center;

    padding: 5px 50px;

    border-radius: 100px;

}


.point {

    min-width: 5px;

    min-height: 5px;

    background-color: #be9fe1;

    border-radius: 10%;

    border: 3px violet solid;

    position: relative;

}


/*GPS IMG MAPA*/


.img-mapa {

    position: relative;

    margin: 10px 50px 5px 5px;

    width: 100%;

    border-bottom: 5px;

}