<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="HTML, CSS"/>    
    <!--uso de palavras chaves-->    
    <meta name="description" content="Desenvolvimento de um software com framework web que utilize noções de banco de dados, praticando controle de versão"/> <!--descrição so site-->   
    <meta name="author" content="ANTONIO LUIZ XAVIER DA COSTA, CLESIO JOSE DA SILVA CLEMENTE, FELIPE REIS DA SILVA,LARISSA CELESTINO FERRAZ, LIVIA MATIAS DA SILVA, MIRIÃ DA SILVA RIBEIRO, SAMANTA DOS SANTOS BISPO, SARA MOTA SILVA"> 
    <title>TÁ NA HORA...</title>
    <link rel="shortcut icon" href="5130logo-univesp_completo_cor-negativo.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="geral.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/geral.css') }}">  
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <a href="home1.html">
            <h1 > Tá na H
              <i class="fa fa-clock-o" aria-hidden="true"></i> ra... 
            </h1>
          </a>
          <h6> Uma forma DIVERTIDA de Interação em Família</h6>
        </div>
        <!-- *** MENU *** -->
        <div class="menu">
          <div class="button-menu">
            <ul class="ul">
              <a data-anchor="product" href='/home_resp'> Home </a>
              <a data-anchor="product" href='/ativ1'> Atividade </a>
              <a data-anchor="product" href='/cadastro2'> Adicionar Dependente</a>
              <a data-anchor="product" href='/sobre1'> Sobre </a>
              <a data-anchor="product" href='/home'> Sair </a>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <br><br><br><br>
    <div class="sugestao-tarefas">
      <h2> Sugestão de Atividades </h2>
      <div class="atividades">
        <ul class="ati1">
          <li ><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Passeio no parque</li><br>
          <li><i class="fa fa-lightbulb-o" aria-hidden="true"></i>  Jogar jogos de tabuleiro em família</li><br>
          <li><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Assistir a um filme ou série juntos</li><br>
          <li><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Dia de arte e artesanato em casa</li><br>
          <li><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Cozinhar uma refeição especial juntos</li><br>
          <li><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Fazer um passeio de bicicleta</li><br>
          <li><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Noite de leitura em família</li><br>
          <li><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Visitar um museu ou exposição local</li><br>
          <li><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Organizar uma noite de karaokê em casa</li><br>
          <li><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Montar um quebra-cabeça em família</li><br>
        </ul>
        <ul class="ati2">
          <li><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Fazer um dia de voluntariado juntos</li><br>
          <li><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Exercícios físicos 3 vezes na semana</li><br>
          <li><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Ler um livro por semana</li><br>
          <li><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Aprender uma nova habilidade</li><br>
          <li><i class="fa fa-lightbulb-o" aria-hidden="true"> </i> o espaço de trabalho</li><br>
          <li><i class="fa fa-lightbulb-o" aria-hidden="true"> </i> uma quantia específica de dinheiro</li><br>
          <li><i class="fa fa-lightbulb-o" aria-hidden="true"> </i> uma viagem curta</li><br>
          <li><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Aprender um novo idioma</li><br>
          <li><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Fazer um curso online</li><br>
        </ul>                
      </div> 
    </div>
    <footer>
      <div class="container-footer">
        <div class="row-footer">
          <div class="footer-col">
            <h4>Tá na Hora...</h4>
            <ul>
              <li><a href="sobre1.html"> Quem somos </a></li>
              <li><a href="#"> política de privacidade </a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Obter ajuda</h4>
            <ul>
              <li><a href="sobre1.html">Duvidas</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Se subescreva!</h4>
            <div class="medias-socias">
              <a href="#"> <i class="fa fa-facebook"></i> </a>
              <a href="#"> <i class="fa fa-instagram"></i> </a>
              <a href="#"> <i class="fa fa-whatsapp"></i> </a>
              <a href="#"> <i class="fa fa-linkedin"></i> </a>              
            </div>
          </div>
          <div class="final">
            <h1> &copy;Projeto Integrador em Computação I </h1>
            <p> &copy;Desenvolvimento de um software com framework web que utilize noções de banco de dados, praticando controle de versão.</p>
          </div>
        </div>
      </div>  
    </footer>
  </body>
</html> 