<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="keywords" content="HTML, CSS"/>    
        <!--uso de palavras chaves-->    
        <meta name="description" content="Desenvolvimento de um software com framework web que utilize noções de banco de dados, praticando controle de versão"/> <!--descrição do site-->   
        <meta name="author" content="ANTONIO LUIZ XAVIER DA COSTA, CLESIO JOSE DA SILVA CLEMENTE, FELIPE REIS DA SILVA,LARISSA CELESTINO FERRAZ, LIVIA MATIAS DA SILVA, MIRIÃ DA SILVA RIBEIRO, SAMANTA DOS SANTOS BISPO, SARA MOTA SILVA"> 
        <title>TÁ NA HORA...</title>
        <link rel="shortcut icon" href="5130logo-univesp_completo_cor-negativo.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="geral.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/geral.css') }}"> 
    </head>
    <body>
        <header>
            <nav>
                <div class="logo">
                    <a href="home.html">
                      <h1 > Tá na H
                          <i class="fa fa-clock-o" aria-hidden="true"></i>  ra... 
                      </h1>
                    </a>
                    <h6> Uma forma DIVERTIDA de Interação em Família
                    </h6>
                </div>
                <div class="menu">
                    <div class="button-menu">
                        <ul class="ul">
                            <a data-anchor="product" href='/home_resp'> Home </a>
                            <a data-anchor="product" href='/login'> Login </a>
                            <a data-anchor="product" href='/sobre'> Sobre </a>
                            <a data-anchor="product" href='/home'> Sair </a>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <br><br><br><br>
        <div class="title-cadas">
            <h1> Cadastre-se</h1>
        </div>
        <div class="container-cadastro-2">
             <form id="formulario" method="post">
                <div class="input-group2">
                    <div class="resp">
                        <div class="title-resp">
                            <h1> Dados do Responsável </h1>
                        </div> 
                        <div class="input-box2">
                            <label for="firstname">Primeiro Nome</label>     
                            <input id="firstname" type="text" name="firstname" placeholder="Digite seu primeiro nome." required>
                        </div>
                        <div class="input-box2">
                            <label for="lastname"> Sobrenome:</label>
                            <input id="lastname" type="text" name="lastname" placeholder="Digite seu sobrenome." required>
                        </div>
                        <div class="input-box2">
                            <label for="nick"> Como você Prefere ser Chamado:</label>
                            <input id="nick" type="text" name="nick" placeholder="Digite seu sobrenome." required>
                        </div>
                        <div class="input-box2">
                            <label for="date">Data de Nascimento:</label>
                            <input id="date" type="date" name="date" placeholder="12/03/1999" required>
                        </div>
                        <div class="input-box2">
                            <label for="email"> E-mail:</label>
                            <input id="email" type="email" name="email" placeholder="Digite seu E-mail." required>
                        </div>
                        <div class="input-box2">
                            <label for="telefone"> Celular:</label>
                            <input id="telefone" type="tel" name="telefone" placeholder="(xx) xxxxx-xxxx " required>
                        </div>
                        <div class="input-box2">
                            <label for="number"> N° de Depedentes:</label>
                            <input id="number" type="tel" name="number" placeholder="ex. 2 " required>
                        </div>
                        <div class="input-box2">
                            <label for="password"> Senha:</label>
                            <input id="password" type="password" name="password" placeholder="Digite sua senha. " required>
                        </div>
                        <div class="input-box2">
                            <label for="genero"> Gênero:</label>
                            <input id="genero" type="text" name="genero" placeholder="Digite. " required>
                        </div><br>
                                <!-- <div class="enviar" style="background-color: orange;">                  
                                <button type="submit" >Enviar</button> <br><br> -->
                                <div class="enviar">
                                <input type="submit" >
                                </div> 
                            </div>
                        </div>
                    </div>
            </form>       
            </div> 
        </div>     
        <footer>
            <div class="container-footer">
                <div class="row-footer">
                    <div class="footer-col">
                        <h4>Tá na Hora...</h4>
                        <ul>
                            <li><a href="sobre.html"> Quem somos </a></li>
                            <li><a href="#"> política de privacidade </a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Obter ajuda</h4>
                        <ul>
                            <li><a href="sobre.html">Duvidas</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Se subescreva!</h4>
                        <div class="medias-socias">
                            <a href="#"> <i class="fa fa-facebook"></i> </a>
                            <a href="#"> <i class="fa fa-instagram"></i>  </a>
                            <a href="#"> <i class="fa fa-whatsapp"></i>  </a>
                            <a href="#"> <i class="fa fa-linkedin"></i> </a>
                        </div>
                    </div>
                    <div class="final">
                        <h1> &copy;Projeto Integrador em Computação I </h1>
                        <p> &copy;Desenvolvimento de um software com framework web que utilize noções de banco de dados, praticando controle de versão.</p>
                    </div>
                </div>
            </div>
        </footer>
    <script>
        document.getElementById("formulario").addEventListener("submit", function(event) {
            event.preventDefault();
            var nome = document.getElementById("firstname").value;
            var sobrenome = document.getElementById("lastname").value;
            var nick = document.getElementById("nick").value;
            var datanascimento = document.getElementById("date").value;
            var dependentes = document.getElementById("number").value;
            var telefone = document.getElementById("telefone").value;
            var email = document.getElementById("email").value;
            var senha = document.getElementById("password").value;
            var genero = document.getElementById("genero").value;
            
            fetch('/salvar-dados', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    nome: nome,
                    sobrenome: sobrenome,
                    nick: nick,
                    datanascimento: datanascimento,
                    dependentes: dependentes,
                    telefone: telefone,
                    email: email,
                    senha: senha,
                    genero: genero,
                    
                }),
            })
            .then(response => {
                if (response.ok) {
                    alert("Formulário Enviado com Sucesso!");
                    window.location.href = '/login';
                } else {
                    alert("Erro ao enviar o formulário");
                }
            })
            .catch(error => console.error('Erro:', error));
        });

        function preencherInfoUsuario() {
            var usuarioId = new URLSearchParams(window.location.search).get('usuario_id');
            if (usuarioId) {
                document.getElementById('info-usuario').innerText = 'ID do Usuário: ' + usuarioId;
            }
        }

        preencherInfoUsuario();
    </script>                      
           
    </body>
</html>
    