<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="keywords" content="HTML, CSS"/>    
        <!--uso de palavras chaves-->    
        <meta name="description" content="Desenvolvimento de um software com framework web que utilize noções de banco de dados, praticando controle de versão"/> <!--descrição so site-->   
        <meta name="author" content="ANTONIO LUIZ XAVIER DA COSTA, CLESIO JOSE DA SILVA CLEMENTE, FELIPE REIS DA SILVA,LARISSA CELESTINO FERRAZ, LIVIA MATIAS DA SILVA, MIRIÃ DA SILVA RIBEIRO, SAMANTA DOS SANTOS BISPO, SARA MOTA SILVA"> 
        <title>TÁ NA HORA...</title>
        <link rel="shortcut icon" href="5130logo-univesp_completo_cor-negativo.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
        <!-- <link rel="stylesheet" href="geral.css">   -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/geral.css') }}">
    </head>
    <body>
        <header>
            <nav>
                <div class="logo">
                    <a href="home.html">
                        <h1 > Tá na H
                            <i class="fa fa-clock-o" aria-hidden="true"></i> ra... 
                        </h1>
                    </a>
                    <h6> Uma forma DIVERTIDA de Interação em Família</h6>
                </div>
                <div class="menu">
                    <div class="button-menu">
                        <ul class="ul">
                            <a data-anchor="product" href='/home'> Home </a>
                            <a data-anchor="product" href='/cadastro'> Cadastro </a>
                            <a data-anchor="product" href='/login'> Login </a>
                            <a data-anchor="product" href='/sobre'> Sobre </a>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <br><br><br><br>
        <div class="container-login">
            <div class="input-group">
                <div class="img">
                    <!-- <img src="img/img-login.jpg" alt=""> -->
                    <img src="/static/img/img-login.jpg" >
                </div>
                <div class="login">
                    <!-- <form action="form"> -->
                    <form id="loginForm" method="post">    
                        <div class="title-login">
                            <h1> Login  </h1>
                        </div>
                        <div class="input-group-1">
                            <div class="input-box">
                                <label for="email"> E-mail:</label>
                                <input id="email" type="email" name="email" placeholder="Digite seu E-mail." required>
                            </div> 
                            <div class="input-box">
                                <label for="password"> Senha:</label>
                                <input id="password" type="password" name="password" placeholder="Digite sua senha. " required>
                            </div>
                        </div>
                        <div class="continue-button">
                            <input type="checkbox" name="manterlogado" id="manterlogado" value="" />
                            <label for="manterlogado"> Manter-me logado </label>
                        </div>  
                        <div class="enviar">
                            <input type="submit" >
                        </div>
                        <div class="esquecisenha">
                            <a href="#"> Esqueci a senha.</a>
                        </div>
                    </form>
                </div>    
            </div>
        </div>
        <footer>
            <!--end footer col-->
                    <div class="final">
                        <h1> &copy;Projeto Integrador em Computação I </h1>
                        <p> &copy;Desenvolvimento de um software com framework web que utilize noções de banco de dados, praticando controle de versão.</p>
                    </div>
            <div class="container-footer">
                <div class="row-footer">
                    <div class="footer-col">
                        <h4>Tá na Hora...</h4>
                        <ul>
                            <li><a href="sobre.html"> Quem somos </a></li>
                            <li><a href="#"> política de privacidade </a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Obter ajuda</h4>
                        <ul>
                            <li><a href="sobre.html">Duvidas</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Se subescreva!</h4>
                        <div class="medias-socias">
                            <a href="#"> <i class="fa fa-facebook"></i> </a>
                            <a href="#"> <i class="fa fa-instagram"></i> </a>
                            <a href="#"> <i class="fa fa-whatsapp"></i> </a>
                            <a href="#"> <i class="fa fa-linkedin"></i> </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </footer>
    <script>
        document.getElementById("loginForm").addEventListener("submit", function(event) {
            event.preventDefault();
            var login = document.getElementById("email").value;
            var senha = document.getElementById("password").value;

            // Enviar os dados de login para a API Flask via POST
            fetch('/verificar-login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ login: login,
                                       senha: senha})
            })
        .then(response => {
            if (response.ok) {
                // Se o login for bem-sucedido, verificar o tipo de usuário e redirecionar para a página correta
                response.json().then(data => {
                    if (data.redirect_url) {
                        window.location.href = data.redirect_url;  // Redireciona para a URL fornecida na resposta JSON
                    } else {
                        alert("URL de redirecionamento não encontrada na resposta JSON");
                    }
                });
            } else {
                // Se o login falhar, exibir mensagem de erro
                alert("Login inválido");
            }   
        })
            .catch(error => console.error('Erro:', error));
        });
    </script>    
    </body>
</html>